.notification-number {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.MuiBadge-colorSecondary {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f48fb1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.notification-heading {
  position: relative;
  left: 10px;
  padding: 10px 2px;
}
.icon-test {
  --button-size: calc(var(--nav-size) * 0.7);
  width: var(--button-size);
  height: var(--button-size);
  font-size: 24px;
  background-color: #373939;
  border-radius: 50%;
  padding: 3px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.icon-test:hover {
  background-color: #4c4d4d;
}
.done-icon {
  font-size: 35px;
  padding: 10px;
}
.MuiTooltip-popper {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 140px;
  text-align: center;
  font-size: 40px;
  color: red;
}
.notification-mark-all-read-container {
  display: flex;
  justify-content: center;
}
.notification-mark-all-read-item {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
  width: 90%;
  transition: all 300ms;
}
.notification-mark-all-read-item:hover {
  background-color: #2e3033;
}
.notification-mark-all-read-icon {
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 2px;
}
