.test {
  margin-top: 2rem !important;
  margin-left: 2rem !important;
  padding: 10px 30px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold !important;
  font-size: 27px !important;
  border: 2px solid white !important;
  color: white !important;
  border-radius: 100px !important;
  background: transparent !important;
  transition: all 300ms !important;
  /* width: 200px;
    height: 88px; */
  padding: 20px 66px !important;
}
.test:hover {
  /* width: 210px;
  height: 98px; */
  padding: 26px 72px !important;
  background-color: #242528 !important;
  color: white !important;
}
.test-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
